<p>banalytics works!</p>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<div class="row">
    <div class="col-md-4">
        <div echarts class="demo-chart" style="width: 33%; min-height: 400px" id="screen-time"></div>
    </div>
    <div class="col-md-4">
        <div echarts class="demo-chart" style="width: 33%; min-height: 400px" id="emails"></div>
    </div>
    <div class="col-md-4">
        <div echarts class="demo-chart" style="width: 33%; min-height: 400px" id="meetings"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div echarts class="demo-chart" style="width: 33%; min-height: 400px" id="smiles"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
</div>



<script>
</script>
<style>
    .progress {
        width: 150px;
        height: 150px;
        background: none;
        position: relative;
    }
    
    .progress::after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 6px solid #eee;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .progress>span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    
    .progress .progress-left {
        left: 0;
    }
    
    .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 6px;
        border-style: solid;
        position: absolute;
        top: 0;
    }
    
    .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }
    
    .progress .progress-right {
        right: 0;
    }
    
    .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
    }
    
    .progress .progress-value {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>